.grid-row {
  display: grid;
  grid-template-columns: 36.5% 40% 17.5%;
  line-height: 28px;
  font-size: 14px;
  color: black;
  font-weight: 500;
}

.label-col {}

.variety-col {
  color: #555;
}

.note-col {
  text-align: center;
  padding-right: 20px;
}
