<div class="header-container">

  <!-- LEFT SIDE TABS -->
  <mat-tab-group
    class="custom-tabs"
    animationDuration="0ms"
    mat-stretch-tabs="false">

    <mat-tab>
      <ng-template mat-tab-label>
        In Progress (5)
      </ng-template>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        Submitted (3)
      </ng-template>
    </mat-tab>

  </mat-tab-group>

  <!-- RIGHT SIDE ACTIONS -->
  <div class="actions">
    <button mat-button class="action-btn">
      <mat-icon>filter_list</mat-icon>
      Show filters
    </button>

    <button mat-button class="action-btn">
      <mat-icon>view_column</mat-icon>
      Columns
    </button>
  </div>

</div>

<mat-divider></mat-divider>


<div class="table-container">

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z1">

    <!-- Reference -->
    <ng-container matColumnDef="reference">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        International Reference Number
      </th>
      <td mat-cell *matCellDef="let element">
        <a href="#" class="ref-link">{{ element.reference }}</a>
      </td>
    </ng-container>

    <!-- Application -->
    <ng-container matColumnDef="application">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Application data for
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.application }}
      </td>
    </ng-container>

    <!-- Modified -->
    <ng-container matColumnDef="modified">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Modified on
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.modified }}
      </td>
    </ng-container>

    <!-- Crop -->
    <ng-container matColumnDef="crop">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Crop
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.crop }}
      </td>
    </ng-container>

    <!-- Denomination -->
    <ng-container matColumnDef="denomination">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Proposed variety denomination
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.denomination }}
      </td>
    </ng-container>

    <!-- Breeder -->
    <ng-container matColumnDef="breeder">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Breeder/Submitter reference
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.breeder }}
      </td>
    </ng-container>

    <!-- Actions -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>
        Actions
      </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_horiz</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item>View</button>
          <button mat-menu-item>Edit</button>
          <button mat-menu-item>Delete</button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

</div>
