.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  white-space: pre-line;
  height: 55px;
  line-height: 1.2;
}

.sort-icon-custom {
  font-size: 16px;
  width: 16px;
  height: 16px;
  color: #9eb1b1;
  margin-left: 10px;
}
