<div class="page-wrapper">
  <div class="card-container">

    <!-- HEADER -->
    <div class="header-wrapper">
      <div class="tabs">
        <div
          class="tab"
          [class.active]="activeTab === 'progress'"
          (click)="activeTab = 'progress'">
          In Progress
        </div>

        <div
          class="tab"
          [class.active]="activeTab === 'submitted'"
          (click)="activeTab = 'submitted'">
          Submitted
        </div>
      </div>

      <div class="actions">
        <div class="action" (click)="showFilters = !showFilters">
          <mat-icon>filter_list</mat-icon>
          <span>{{ showFilters ? 'Hide filters' : 'Show filters' }}</span>
        </div>
      </div>
    </div>

    <div class="divider"></div>

    <!-- TABLE -->
    <div class="table-wrapper">
      <table mat-table [dataSource]="dataSource" class="custom-table">

        <!-- REF -->
        <ng-container matColumnDef="ref">
          <th mat-header-cell *matHeaderCellDef>
            <div class="header-title">Reference</div>
            <input *ngIf="showFilters" class="filter-input" placeholder="Search..." />
          </th>
          <td mat-cell *matCellDef="let row" class="link">
            {{ row.ref }}
          </td>
        </ng-container>

        <!-- APPLICATION -->
        <ng-container matColumnDef="application">
          <th mat-header-cell *matHeaderCellDef>
            <div class="header-title">Application</div>
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.application }}
          </td>
        </ng-container>

        <!-- MODIFIED -->
        <ng-container matColumnDef="modified">
          <th mat-header-cell *matHeaderCellDef>
            <div class="header-title">Modified</div>
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.modified }}
          </td>
        </ng-container>

        <!-- CROP -->
        <ng-container matColumnDef="crop">
          <th mat-header-cell *matHeaderCellDef>
            <div class="header-title">Crop</div>
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.crop }}
          </td>
        </ng-container>

        <!-- DENOMINATION -->
        <ng-container matColumnDef="denomination">
          <th mat-header-cell *matHeaderCellDef>
            <div class="header-title">Denomination</div>
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.denomination || '-' }}
          </td>
        </ng-container>

        <!-- BREEDER -->
        <ng-container matColumnDef="breeder">
          <th mat-header-cell *matHeaderCellDef>
            <div class="header-title">Breeder</div>
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.breeder || '-' }}
          </td>
        </ng-container>

        <!-- ACTIONS -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="actions-header">
            Actions
          </th>
          <td mat-cell *matCellDef="let row" class="actions-cell">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_horiz</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>

      <mat-progress-bar mode="determinate" value="55" class="bottom-progress">
      </mat-progress-bar>

    </div>
  </div>
</div>




<mat-menu #menu="matMenu">
  <button mat-menu-item>Edit</button>
  <button mat-menu-item>Delete</button>
</mat-menu>
