button {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  height: 40px;
  padding: 0 20px;
  font-weight: 500;
  text-transform: none;
}

/* TEXT */
.text-btn {
  background: transparent;
  color: #1c4240;
}

/* OUTLINE */
.outline-btn {
  border: 1.5px solid goldenrod;
  color: #1c4240;
}

/* PRIMARY */
.primary-btn {
  background-color: #1c4240;
  color: #d4e157;
  border-radius: 50px;
}
