<div class="page-wrapper">

  <!-- CARD CONTAINER -->
  <div class="card-container">

    <!-- HEADER -->
    <div class="header-wrapper">

      <div class="tabs">
        <div
          class="tab"
          [class.active]="activeTab === 'progress'"
          (click)="activeTab = 'progress'">
          In Progress (5)
        </div>

        <div
          class="tab"
          [class.active]="activeTab === 'submitted'"
          (click)="activeTab = 'submitted'">
          Submitted (3)
        </div>
      </div>

      <div class="actions">
        <div class="action" (click)="showFilters = !showFilters">
          <mat-icon>filter_list</mat-icon>
          <span>Show filters</span>
        </div>

        <div class="action">
          <mat-icon>view_column</mat-icon>
          <span>Columns</span>
        </div>
      </div>

    </div>

    <div class="divider"></div>

    <!-- TABLE -->
    <div class="table-wrapper">

      <table mat-table [dataSource]="dataSource" class="custom-table">

        <!-- REF -->
        <ng-container matColumnDef="ref">
          <th mat-header-cell *matHeaderCellDef>
            International <br> Reference Number
          </th>
          <td mat-cell *matCellDef="let row" class="link">
            {{row.ref}}
          </td>
        </ng-container>

        <!-- APPLICATION -->
        <ng-container matColumnDef="application">
          <th mat-header-cell *matHeaderCellDef>
            Application data for
          </th>
          <td mat-cell *matCellDef="let row">
            {{row.application}}
          </td>
        </ng-container>

        <!-- MODIFIED -->
        <ng-container matColumnDef="modified">
          <th mat-header-cell *matHeaderCellDef>
            Modified on
          </th>
          <td mat-cell *matCellDef="let row">
            {{row.modified}}
          </td>
        </ng-container>

        <!-- CROP -->
        <ng-container matColumnDef="crop">
          <th mat-header-cell *matHeaderCellDef>
            Crop
          </th>
          <td mat-cell *matCellDef="let row">
            {{row.crop}}
          </td>
        </ng-container>

        <!-- DENOMINATION -->
        <ng-container matColumnDef="denomination">
          <th mat-header-cell *matHeaderCellDef>
            Proposed variety denomination
          </th>
          <td mat-cell *matCellDef="let row">
            {{row.denomination}}
          </td>
        </ng-container>

        <!-- BREEDER -->
        <ng-container matColumnDef="breeder">
          <th mat-header-cell *matHeaderCellDef>
            Breeder/Submitter reference
          </th>
          <td mat-cell *matCellDef="let row">
            {{row.breeder}}
          </td>
        </ng-container>

        <!-- ACTIONS -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="actions-header">
            Actions
          </th>
          <td mat-cell *matCellDef="let row" class="actions-cell">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_horiz</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>

      <!-- GREEN PROGRESS BAR -->
      <mat-progress-bar
        mode="determinate"
        value="55"
        class="bottom-progress">
      </mat-progress-bar>

    </div>

  </div>

</div>

<!-- MENU -->
<mat-menu #menu="matMenu">
  <button mat-menu-item>Edit</button>
  <button mat-menu-item>Delete</button>
</mat-menu>

<div class="page-wrapper">

  <div class="card-container">

    <!-- HEADER -->
    <div class="header-wrapper">

      <div class="tabs">
        <div
          class="tab"
          [class.active]="activeTab === 'progress'"
          (click)="activeTab = 'progress'">
          In Progress (5)
        </div>

        <div
          class="tab"
          [class.active]="activeTab === 'submitted'"
          (click)="activeTab = 'submitted'">
          Submitted (3)
        </div>
      </div>

      <div class="actions-top">
        <div class="action" (click)="showFilters = !showFilters">
          <mat-icon>filter_list</mat-icon>
          <span>{{ showFilters ? 'Hide filters' : 'Show filters' }}</span>
        </div>

        <div class="action">
          <mat-icon>view_column</mat-icon>
          <span>Columns</span>
        </div>
      </div>

    </div>

    <div class="divider"></div>

    <!-- TABLE -->
    <div class="table-wrapper">

      <table mat-table [dataSource]="dataSource" class="custom-table">

        <!-- REF -->
        <ng-container matColumnDef="ref">
          <th mat-header-cell *matHeaderCellDef class="header-cell">
            <div class="header-title">International Reference Number</div>
            <div *ngIf="showFilters" class="filter-wrapper">
              <input class="filter-input" placeholder="International Reference..." />
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="link">
            {{row.ref}}
          </td>
        </ng-container>

        <!-- APPLICATION -->
        <ng-container matColumnDef="application">
          <th mat-header-cell *matHeaderCellDef class="header-cell">
            <div class="header-title">Application data for</div>
            <div *ngIf="showFilters" class="filter-wrapper">
              <input class="filter-input" placeholder="Application data for" />
            </div>
          </th>
          <td mat-cell *matCellDef="let row">
            {{row.application}}
          </td>
        </ng-container>

        <!-- MODIFIED -->
        <ng-container matColumnDef="modified">
          <th mat-header-cell *matHeaderCellDef class="header-cell">
            <div class="header-title">Modified on</div>
            <div *ngIf="showFilters" class="filter-wrapper date-wrapper">
              <input class="filter-input" placeholder="Modified..." />
              <mat-icon class="calendar-icon">calendar_today</mat-icon>
            </div>
          </th>
          <td mat-cell *matCellDef="let row">
            {{row.modified}}
          </td>
        </ng-container>

        <!-- CROP -->
        <ng-container matColumnDef="crop">
          <th mat-header-cell *matHeaderCellDef class="header-cell">
            <div class="header-title">Crop</div>
            <div *ngIf="showFilters" class="filter-wrapper">
              <input class="filter-input" placeholder="Crop" />
            </div>
          </th>
          <td mat-cell *matCellDef="let row">
            {{row.crop}}
          </td>
        </ng-container>

        <!-- DENOMINATION -->
        <ng-container matColumnDef="denomination">
          <th mat-header-cell *matHeaderCellDef class="header-cell">
            <div class="header-title">Proposed variety denomination</div>
            <div *ngIf="showFilters" class="filter-wrapper">
              <input class="filter-input" placeholder="Proposed variety..." />
            </div>
          </th>
          <td mat-cell *matCellDef="let row">
            {{row.denomination}}
          </td>
        </ng-container>

        <!-- BREEDER -->
        <ng-container matColumnDef="breeder">
          <th mat-header-cell *matHeaderCellDef class="header-cell">
            <div class="header-title">Breeder/Submitter reference</div>
            <div *ngIf="showFilters" class="filter-wrapper">
              <input class="filter-input" placeholder="Breeder/Submitter..." />
            </div>
          </th>
          <td mat-cell *matCellDef="let row">
            {{row.breeder}}
          </td>
        </ng-container>

        <!-- ACTIONS -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="actions-header sticky-col">
            Actions
          </th>
          <td mat-cell *matCellDef="let row" class="actions-cell sticky-col">
            <button mat-icon-button>
              <mat-icon>more_horiz</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>

      <mat-progress-bar mode="determinate" value="55" class="bottom-progress">
      </mat-progress-bar>

    </div>

  </div>

</div>



<div class="preview-page">

  <div class="preview-card">

    <div class="preview-label">
      <span class="preview-icon">▣</span>
      PREVIEW
    </div>

    <h3 class="preview-title">List of Characteristics (4)</h3>

    <div class="table-wrapper">

      <table class="character-table">

        <thead>
          <tr>
            <th class="col-move"></th>
            <th class="col-no"></th>
            <th class="col-type">English</th>
            <th class="col-example">Example Varieties</th>
            <th class="col-notes">Notes</th>
            <th class="col-delete">Delete</th>
          </tr>
        </thead>

        <tbody>

          <!-- SECTION 1 -->
          <tr class="section-head">
            <td class="col-move">↕</td>
            <td class="col-no">1</td>
            <td><b>QN</b>&nbsp;&nbsp;MG/VG</td>
            <td></td>
            <td></td>
            <td class="col-delete">🗑</td>
          </tr>

          <tr class="section-body">
            <td></td><td></td>
            <td>
              <div class="group-title">Tree: vigor</div>
              <div>very weak</div>
              <div>very weak to weak</div>
              <div>weak</div>
              <div>weak to medium</div>
              <div>medium</div>
              <div>medium to strong</div>
              <div>strong</div>
              <div>strong to very strong</div>
              <div>very strong</div>
            </td>
            <td>
              <div>&nbsp;</div>
              <div>Grenadier, Nield's Drooper</div>
              <div>James Grieve, Redkan</div>
              <div>Alkmene, Regine</div>
              <div>Piros, Pomforyou, Renora</div>
              <div>Gala, Pinova, Trajan</div>
              <div>Dalili, Pia, Pivita</div>
              <div>Elstar, Rafzubin, Santana</div>
              <div>Bay 3484, Collina, Cripps Pink</div>
              <div>Gloster, Ingrid Marie</div>
            </td>
            <td class="notes">
              <div>&nbsp;</div>
              <div>1</div><div>2</div><div>3</div><div>4</div>
              <div>5</div><div>6</div><div>7</div>
              <div>8</div><div>9</div>
            </td>
            <td></td>
          </tr>

          <!-- SECTION 2 -->
          <tr class="section-head">
            <td class="col-move">↕</td>
            <td class="col-no">2 (*)</td>
            <td><b>QL</b>&nbsp;&nbsp;VG</td>
            <td></td>
            <td></td>
            <td class="col-delete">🗑</td>
          </tr>

          <tr class="section-body">
            <td></td><td></td>
            <td>
              <div class="group-title">Tree: type</div>
              <div>columnar</div>
              <div>ramified</div>
            </td>
            <td>
              <div>&nbsp;</div>
              <div>MacExcel, Wijcik</div>
              <div>Elstar, Golden Delicious</div>
            </td>
            <td class="notes">
              <div>&nbsp;</div>
              <div>1</div>
              <div>2</div>
            </td>
            <td></td>
          </tr>

          <!-- SECTION 3 -->
          <tr class="section-head">
            <td class="col-move">↕</td>
            <td class="col-no">3 (*)</td>
            <td><b>QN</b>&nbsp;&nbsp;MG/VG</td>
            <td></td>
            <td></td>
            <td class="col-delete">🗑</td>
          </tr>

          <tr class="section-body">
            <td></td><td></td>
            <td>
              <div class="group-title">Leaf: length</div>
              <div>very shortstszrtz</div>
              <div>medium</div>
              <div>5</div>
            </td>
            <td>
              <div>&nbsp;</div>
              <div>Kasumi</div>
              <div></div>
              <div>variety B</div>
            </td>
            <td class="notes">
              <div>&nbsp;</div>
              <div>1</div>
              <div>2</div>
              <div>3</div>
            </td>
            <td></td>
          </tr>

          <!-- SECTION 4 -->
          <tr class="section-head">
            <td class="col-move">↕</td>
            <td class="col-no">4</td>
            <td><b>QL</b>&nbsp;&nbsp;MS</td>
            <td></td>
            <td></td>
            <td class="col-delete">🗑</td>
          </tr>

          <tr class="section-body">
            <td></td><td></td>
            <td>
              <div class="group-title">resistance test</div>
              <div>absent</div>
              <div>present</div>
            </td>
            <td>
              <div>&nbsp;</div>
              <div></div>
              <div></div>
            </td>
            <td class="notes">
              <div>&nbsp;</div>
              <div>1</div>
              <div>9</div>
            </td>
            <td></td>
          </tr>

        </tbody>

      </table>

    </div>

  </div>

</div>
